@import url("http://fonts.cdnfonts.com/css/sf-pro-display");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Lato:wght@300&display=swap");
html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Sf pro display", sans-serif;
    /* background: url(/img/mike-yukhtenko-wfh8dDlNFOk-unsplash-min.jpg); */
    background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    color: black;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
    backdrop-filter: blur(50%);
    filter: blur(100%);
    color: whitesmoke;
}

.container {
    padding: 20px 70px;
    color: black;
}

.current-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 40rem;
    margin-top: 10rem;
}

.date-container .time {
    font-size: 70px;
    display: inline;
    font-weight: 400;
    margin-left: 20px;
}

#date {
    margin-left: 10rem;
}

.date-container #am-pm {
    font-size: 30px;
    font-weight: 100;
}

.place-container {
    text-align: end;
}

.place-container #timeZone {
    font-size: 25px;
    font-weight: 200;
}

.place-container #location {
    font-size: 25px;
    font-weight: 200;
}

.current-info .others {
    display: flex;
    flex-direction: column;
}

.current-info .others .weather-items {
    display: flex;
    justify-content: space-between;
}

.others {
    font-size: 20px;
    /* border: 3px solid white; */
    background-color: rgba(0, 0, 0, 0.3);
    margin: 10px 0px;
    padding: 15px;
    border-radius: 8px;
}

.others .current-weather-items {
    margin-right: 20rem;
}

.future-forecast {
    background-color: rgba(0, 0, 0, 0.678);
    padding: 25px;
    position: fixed;
    bottom: 0;
    display: flex;
    flex: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.future-forecast .today-forecast {
    display: flex;
}

.future-forecast .today {
    display: flex;
    align-items: center;
    margin-right: 10px;
    justify-content: center;
    background-color: black;
    border: 1px solid whitesmoke;
    padding: 15px;
    border-radius: 20px;
}

.future-forecast .today .day {
    padding: 5px 15px;
    background: rgb(255, 255, 255);
    color: black;
    border-radius: 50px;
    text-align: center;
}

.future-forecast .today .temp {
    font-size: 30px;
    font-weight: 200;
}

.future-forecast .weather-forecast {
    display: flex;
}

.weather-forecast .weather-forecast-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.432);
    margin: 0px 10px;
    border: 1px solid whitesmoke;
    padding: 20px;
    border-radius: 20px;
    transform: translate(0.4);
}

.weather-forecast :hover {
    transform: scale(1.1);
    background-color: rgba(0, 0, 0, 0.968);
}

.weather-forecast .weather-forecast-item .day {
    padding: 5px 15px;
    background: rgb(255, 255, 255);
    color: black;
    border-radius: 50px;
    text-align: center;
}

@media only screen and (max-width: 730px) {
    .future-forecast {
        justify-content: start;
        align-items: none;
        overflow-y: scroll;
        /* overflow-x: scroll; */
    }
    .future-forecast .today .temp {
        font-size: 16px;
    }
    .date-container .time {
        font-size: 50px;
    }
    .date-container #am-pm {
        font-size: 20px;
    }
    .date-container .date {
        font-size: 20px;
    }
    .place-container {
        text-align: end;
        margin-top: 15px;
    }
    .place-container .timeZone {
        font-size: 20px;
    }
    .place-container .location {
        font-size: px;
    }
    .current-info .others {
        padding: 12px;
    }
    .current-info .others .weather-item {
        font-size: 14px;
    }
}

@media only screen and (max-width: 1400px) {
    .future-forecast {
        justify-content: start;
        align-items: none;
        overflow-x: scroll;
    }
}


/* .arrowed {
  position: relative;
  height: 200px;
  width: 200px;
  margin: 0 0px 20px 0;
  border: 1px solid rgba(0, 0, 0, 0.25);
} */


/* Just centering the examples */


/* .arrowed div {
  position: absolute;
  top: 15rem;
  bottom: 10rem;
  left: 52rem;
  right: 20rem;
  margin: aut;
}
.arrow-1 {
  height: 15px;
  width: 15px;
  border: 1px solid rgb(255, 255, 255);
  border-width: 4px 4px 0 0;
  transform: rotate(-45deg);
} */


/* .hidden {
  display: none;
} */